

* {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace, 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}
.lead{
  color: whitesmoke;
  font-size: 24px;
  border-top: 4px double wheat;
}
th, .jumbotron, .btn-edit{
  background-color:rgb(101, 61, 2);
  color: whitesmoke;
  margin-bottom: 3px;
}

.panel-heading{
  background-color: rgb(3, 3, 83);
  color: wheat;
  padding: 15px;
  font-size: 20px;

}
.panel-body{
  padding: 5px;
  border: 3px solid rgb(22, 22, 82);
  margin-bottom: 5px;
}


tr:hover td{
  font-size: 18px;
}

tr:hover{
  border: rgb(101, 61, 2);
  box-shadow: 0 0 10px rgb(101, 61, 2);
}

.editRow{
  background-color: wheat;
  color: rgb(3, 3, 83);
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  font-size: 20px;
}


  
